*, a{
	color: gray;
}
th{
	color: black;
}
.name-column span{
	margin-left: 10px;
}
.fa{
	font-size: 1.5em;
}


.table-login{
 	outline-style: solid;
	outline-width: 1px;
	outline-color: gray;
}
.table-login td{
 	border: none;
}