<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{:: title},~{:: #content})">
<head>
	<meta charset="utf-8">
    <title th:text="#{sftp_client}">Files list</title>
</head>

<body>

<div class="container" id="content">

<h1 th:text="${folder}">/server/folder</h1>
<table th:unless="${error}" class="table table-striped table-bordered table-hover">
<tr>
	<th><a th:text="#{name}" th:href="@{list(sort=name,dir=(${sort} == 'name' and ${dir} == 'asc' ? 'desc' : 'asc'),folder=${folder})}">Name</a></th>
	<th><a th:text="#{type}" th:href="@{list(sort=type,dir=(${sort} == 'type' and ${dir} == 'asc' ? 'desc' : 'asc'),folder=${folder})}">Type</a></th>
	<th><a th:text="#{date}" th:href="@{list(sort=mtime,dir=(${sort} == 'mtime' and ${dir} == 'asc' ? 'desc' : 'asc'),folder=${folder})}">Date</a></th>
	<th><a th:text="#{size}" th:href="@{list(sort=size,dir=(${sort} == 'size' and ${dir} == 'asc' ? 'desc' : 'asc'),folder=${folder})}">Size</a></th>
</tr>
<tr th:remove="${folder} == '/' ? 'all'">
	<td class="name-column"><a th:href="@{list(sort=${sort},dir=${dir},folder=${folder.replace('\/+$','') + '/..'})}"><i class="fa fa-folder"></i><span>..</span></a></td>
	<td th:text="'dir'">TYPE</td>
	<td></td>
	<td></td>
</tr>
<tr th:each="item : ${list}">
	<td class="name-column"><a th:href="${item.dir} ? @{list(sort=${sort},dir=${dir},folder=${folder.replace('\/+$','') + '/' + item.name})} : @{/download(file=${folder.replace('\/+$','') + '/' + item.name})}"><i class="fa " th:classappend="${item.dir} ? 'fa-folder' : 'fa-file'"></i><span th:text="${item.name}">NAME</span></a></td>
	<td th:text="${item.dir} ? 'dir' : 'file'">TYPE</td>
	<td th:text="${#dates.format(new Long(item.mtime) * 1000, 'dd.MM.yyyy HH:mm:ss')}">DATE</td>
	<td th:text="${item.size}">SIZE</td>
</tr>
</table>

<p th:if="${error}" th:text="${error.message}" class="alert alert-danger">Error message (if exists)</p>

</div>

</body>
</html>