<html xmlns:th="http://www.thymeleaf.org">
<head>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
	
	<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{webjars/font-awesome/5.13.0/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    
</head>

<body>

<div class="container">

<h1 th:text="${folder}">/server/folder</h1>
<table th:unless="${error}" class="table table-striped table-bordered table-hover">
<tr>
	<th th:text="#{name}">Name</th>
	<th th:text="#{type}">Type</th>
	<th th:text="#{date}">Date</th>
	<th th:text="#{size}">Size</th>
</tr>
<tr th:each="item : ${list}">
	<td class="name-column"><i class="fa " th:classappend="${item.dir} ? 'fa-folder' : 'fa-file'"></i><span th:text="${item.name}">NAME</span></td>
	<td th:text="${item.dir} ? 'dir' : 'file'">TYPE</td>
	<td th:text="${#dates.format(new Long(item.mtime) * 1000, 'dd.MM.yyyy HH:mm:ss')}">DATE</td>
	<td th:text="${item.size}">SIZE</td>
</tr>
</table>

<p th:if="${error}" th:text="${error.message}" class="alert alert-danger">Error message (if exists)</p>

</div>

<!-- p th:text="${svc}">Here is svc output</p -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>